<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA56uDplL9SO7c8HO-IEzzFu8AoYm3Y2Lo</string>
	<key>GCM_SENDER_ID</key>
	<string>796848403617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.healingVibe</string>
	<key>PROJECT_ID</key>
	<string>healingvibe-d1a75</string>
	<key>STORAGE_BUCKET</key>
	<string>healingvibe-d1a75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796848403617:ios:96c5502855a0e046366ce0</string>
</dict>
</plist>